<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastro-crianca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">cadastro-crianca</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-item>
    <ion-input label="Nome" [(ngModel)]="crianca.nome" placeholder="Informe nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Idade" [(ngModel)]="crianca.idade" placeholder="Informe idade"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Responsavel"  [(ngModel)]="crianca.responsavel" placeholder="Informe Nome responsavel"></ion-input>
  </ion-item>

  <ion-button expand="block" color="success"  (click)="salvar()" >Salvar dados</ion-button> 
 

</ion-content>
